* {
  box-sizing: border-box;
}

h1 {
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 100;
  line-height: 1.5;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  width: 550px;
  bottom: 28%;
  right: 41%;



}

@media screen and (max-width:860px) {
  h1 {
    bottom: 20%;
    right: 37%;

  }


}

@media screen and (max-width: 480px) {
  h1 {
    bottom: 10%;
    right: 37%;

  }

}



h1 span {
  font-size: 40px;
  margin-left: 40px;


}

.message {
  background-color: #09acd1;
  color: #FFF;
  display: block;
  font-weight: 400;
  overflow: hidden;
  position: absolute;
  padding-left: 0.5rem;
  top: 0.2rem;
  left: 270px;
  animation: openclose 5s ease-in-out infinite;

  @media screen and (max-width: 480px) {
    left: 160px;
    bottom: 20px;


  }

}

.word1,
.word2,
.word3 {
  font-family: tahoma;
}

@keyframes openclose {
  0% {
    top: 0.2rem;
    width: 0;
  }

  5% {
    width: 0;
  }

  15% {
    width: 330px;
  }

  30% {
    top: 0.2rem;
    width: 300px;
  }

  33% {
    top: 0.2rem;
    width: 0;
  }

  35% {
    top: 0.2rem;
    width: 0;
  }

  38% {
    top: -4.5rem;

  }

  48% {
    top: -4.5rem;
    width: 370px;
  }

  62% {
    top: -4.5rem;
    width: 370px;
  }

  66% {
    top: -4.5rem;
    width: 0;
    text-indent: 0;
  }

  71% {
    top: -9rem;
    width: 0;
    text-indent: 5px;
  }

  86% {
    top: -9rem;
    width: 300px;
  }

  95% {
    top: -9rem;
    width: 400px;
  }

  98% {
    top: -9rem;
    width: 0;
    text-indent: 5px;
  }

  100% {
    top: 0;
    width: 0;
    text-indent: 0;
  }
}



@media screen and (max-width: 480px) {
  .MuiPaper-root>div {
    flex-direction: column;
  }

  .css-aoffql {
    width: 70%;
  }

}