.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

header{
    background-color: #212121;
    height: 91px;
}

.header_image{
    width: 165px;
}

.header_container-image{
    padding: 0 70px;
}

.header_list{
    list-style-type: none;
    display: flex;
    padding: 0 40px;
}

.header_list li{
    padding: 0 25px;
    
}


.header_list li a{
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    color: #FFF;
    text-decoration: none;
    transition: all .3s;
    
}


.header_list li a:hover{
    text-shadow: 3px 3px 2px #FFF;
    
    
    
}